@model GalleryViewModel
@{
    ViewData["BookTitle"] = Model.BookTitle;
    ViewData["Title"] = Model.Title;
    ViewData["BookCopyright"] = Model.BookCopyright;
}

<div class="p-5">
    <h1>@ViewData["Title"]</h1>
    <div class="gallery">
        @if (Model.Book != null)
        {
            foreach (var image in Model.Book.Content.Images.Local)
            {
                <img src="/resources/@image.Key" alt="@image.Key" />
            }
            foreach (var reImage in Model.Book.Content.Images.Remote)
            {
                <img src="@reImage.Url" alt="@reImage.Url" class="remote-image" />
            }
        }
    </div>
</div>

@section Scripts {
    <script>

    </script>
}