@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model NavPageViewModel
@{
    ViewData["BookTitle"] = Model.BookTitle;
    ViewData["Title"] = Model.Title;
    ViewData["BookCopyright"] = Model.BookCopyright;

    var navigations = Model.Book?.Navigation?.Flatten(nav => nav.NestedItems);
}

<script src="~/js/iframeService.js" asp-append-version="true"></script>

<script>
  function scrollToAnchor(iframeId, anchorId) {
    console.log('Scrolling to', iframeId + '#' + anchorId);
    if (!iframeId) return;
    const iframe = document.getElementById(iframeId);
    if (iframe) {
      scrollState.lastScrollY = window.scrollY;
      if (anchorId) {
        const doc = iframe.contentDocument;
        const target = doc.getElementById(anchorId) || doc.querySelector(`[name='${anchorId}']`);
        if (target) target.scrollIntoView({ behavior: 'smooth' });
      } else iframe.scrollIntoView({ behavior: 'smooth' });
    } else {
      window.location.href = `/?toIframe=${iframeId}&toAnchor=${anchorId}`;
    }
  }
</script>

<iframe src="/resources/@Model.Book?.Content.NavigationHtmlFile?.Key"
  onload="resizeIframe(this); injectScript(this);"></iframe>

<div class="card container-sm p-0 my-3">
    <div class="card-header border-0" role="button"
         data-bs-toggle="collapse" href="#file-list">
        目录
    </div>
    <div class="list-group list-group-flush border-top collapse show" id="file-list">
        @foreach (var chapter in Model.Book?.ReadingOrder ?? [])
        {
            <a class="list-group-item list-group-item-action hover-region" href="/resources/@chapter.Key">
                @if (navigations?.FirstOrDefault(nav => nav.Link?.ContentFilePath.Contains(chapter.Key) ?? false) is { } nav)
                {
                    <span>@nav.Title</span>
                    <span class="text-secondary hover-element">@chapter.Key</span>
                }
                else
                {
                    <span>@chapter.Key</span>
                }
            </a>
        }
    </div>
</div>