@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 575.98px) {
  #reader-container {
    flex-direction: column;
  }

  #sideBar {
    max-height: 50vh;
    width: 100%;
    border-bottom: 1px lightgray solid;
  }

  #sidebar-divider {
    display: none !important;
  }

  .gallery > img {
    width: 100%;
  }
}

@media (min-width: 576px) {
  #reader-container {
    flex-direction: row;
  }

  #sideBar {
    height: 100vh;
    max-width: 25vw;
  }

  #sidebar-divider {
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
    width: 1em;
  }

  .gallery > img {
    max-width: 100%;
    height: 30vh;
    object-fit: contain;
  }
}

#reader-container {
  display: flex;
}

#sideBar {
  display: flex;
  overflow-y: auto;
  position: sticky;
  top: 0;
}

.gallery > img {
  margin: 0.5rem;
  border-radius: 1rem;
}

.gallery > img.remote-image {
  border: 2px dashed rgba(0, 0, 0, 0.3);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  font-size: 14px;
  position: relative;
}

body {
  min-height: 100vh;
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
  text-align: start;
}

iframe {
  display: block;
  border: none;
  width: 100%;
}

#sidebarToggleBtn {
  opacity: 0;
}

#sidebarToggleBtn:hover {
  opacity: 1;
}

#goBackBtn {
  display: none;
}

.nav-item.dropdown > .dropdown-toggle::after {
  display: none !important;
}

#drop-area {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: none;
}

#drop-text {
  background: white;
  position: fixed;
  top: 5vh;
  left: 5vw;
  padding: 1em 2em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.code-area {
  background: #f4f4f4;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.text-area {
  white-space: pre-wrap;
}

#about-book-info-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: flex-end;
}

#about-book-info {
  max-width: 1200px;
}

#about-book-cover {
  width: 300px;
  border-radius: 1rem;
}

#about-book-info-container > * {
  margin-bottom: 1rem;
}

.table-right {
  text-align: end;
}
