name: Build & Release .NET App

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Publish
        run: dotnet publish -c Release -r win-x64 -p:Version=${GITHUB_REF_NAME#v} -o ./publish

      - name: Archive
        shell: bash
        run: zip -r ${{ github.event.repository.name }}-${{ github.ref_name }}-win-x64.zip ./publish

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: app-archive
          path: ${{ github.event.repository.name }}-${{ github.ref_name }}-*.zip

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: app-archive
          path: .

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ github.event.repository.name }}-${{ github.ref_name }}-*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
